<h1>Comic Con Image Stream</h1>

<div class="row">
<% $i = 0 %>
<% @images.each do |tweet| %>
    <% if $i > 0 && $i % 4 == 0 %>
        </div><div class="row">
    <% end %>

    <div class="col-xs-6 col-md-3" id="img-<%= $i %>">
        <a href="<%= tweet[:link] %>" class="thumbnail" target="_blank">
            <img src="<%= tweet[:image_url] %>" alt="...">
        </a>

        <div class="caption">
            <h3>
                <a href="http://<%= tweet[:source] %>.com/<%= tweet[:user] %>">
                    <i class="fa fa-<%= tweet[:source] %>"></i> <%= tweet[:user] %>
                </a>
            </h3>
            <p><%= tweet[:text] %></p>
        </div>
    </div>

    <% $i += 1 %>
<% end %>
</div>